// Base colors
$color-shark: #21252d;
$color-charade: #292d38;
$color-dusty-gray: #999999;
$color-gray: #868686;
$color-silver: #bcbcbc;
$color-gallery: #f0f0f0;
$color-alabaster: #fafafa;
$color-white: #ffffff;
$color-black: #000000;

$color-scampi: #6d5cae;
