// Base colors
$color-black: #000000;
$color-shark: #21252d;
$color-charade: #292d38;
$color-limed-spruce: #3d4752;
$color-gray: #868686;
$color-dusty-gray: #999999;
$color-silver: #bcbcbc;
$color-gallery: #f0f0f0;
$color-alabaster: #fafafa;
$color-white: #ffffff;

$color-scampi: #6d5cae;

// Container
$color-container: $color-white;
$color-container-bg: $color-scampi;
