@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&subset=latin-ext");

@mixin set-font($family: "Arial", $size: 1em, $weight: 400) {
    font-family: $family, sans-serif;
    font-size: $size;
    font-weight: $weight;
}

@mixin font-josefin($size: 1em, $weight: 400) {
    @include set-font("Josefin Sans", $size, $weight);
}
